<h1>Hello there! Welcome to my Website.</h1>

<p>My name is Chris Wenner.<br>

<img src="assets/all_business2.png" alt="me"><br>

This site is my online portfolio and my own personal blog. I plan to have this up to date as frequently as I can. 
<br>
So now that you are here. Take a look around!
If you have any questions, feel free to contact me!
</p>