<div id='wel-con' class='welcome'>
  <h1 class='words'>Welcome!</h1>
  <p>
    Hello, My name is <span id='name'>Chris Wenner</span>.
    It looks like you have found your way to my personal website!<br>
  </p>
</div>

<div id='twitter-feed' class='welcome'>
  <h2 class='words'>Tweet me yo!</h1>


</div>
