<div id='wel-con' class='welcome'>
  <h1 class='words'>Welcome!</h1>
  <p>
    Hello, My name is <span id='name'>Chris Wenner</span>.
    It looks like you have found your way to my personal website!<br>
  </p>
</div><!-- end wel-con -->

<div id='twitter-feed' class='welcome'>
  <a class="twitter-timeline" href="https://twitter.com/crwenner" data-widget-id="268528039028199424" width='270px' height='368px'>Tweets by @crwenner</a>
  <script>
    !function(d,s,id){
      var js,fjs=d.getElementsByTagName(s)[0];

      if(!d.getElementById(id)){
        js=d.createElement(s);
        js.id=id;js.src="//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);
      }
    }(document,"script","twitter-wjs");
  </script>
</div><!-- end twitter -->

<div id='blog-space'>
  <h1 class='words'>Recent Posts</h1>
</div><!-- end blog space -->

<% @posts.each do |post| %>
<div id='mini-blog'> 
  <div class="date-wrapper-container">
    <div class="wrapper-container">
      <%= post.date %>
    </div><!-- wrapper-container -->
  </div><!-- date-wrapper-container -->

  <h3><%= link_to post.title, blog_path(post) %></h3>

</div><!-- end mini-blog -->
<% end %>
    
<div id='footer'>
  <ul>
    <a href='http://www.facebook.com'><li class='facebook'>f</li></a>
    <a href='http://www.twitter.com'><li class='twitter'>t</li></a>
    <li class='me'>Created by Chris Wenner</li>
    <a href='http://www.seedcoworking.com'><li class='seed'>seed</li></a>
  </ul>
</div><!-- end footer  -->