@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

html, body{
  margin:0px;
  padding:0px;
}

body{
  background-image:url('../assets/background-repeat1.png');
  background-repeat:repeat-xy;
}

#main-container{
  height:auto;
  width:100%;
  position absolute;
}

/*------------------- This is all for the logo ------------------ */
#neat-display{
  margin-top:24px;
  float:left;
}

#neat-display h1 {
  font-family: 'Open Sans';
  font-size: 80px;
  font-weight: 800;
  margin:0 auto;
}

#neat-display h1 span {
  height:auto;
  display: inline-block;
  text-align: center;
  width: auto;
  padding:0px 5px 0px 5px;
}

#neat-display h1 span:nth-child(odd) {
  background: #5CA1C0;
  color: #24537f;
  position: relative;
  -webkit-transform: skewY(13deg);
  -ms-transform: skewY(13deg);
  -moz-transform: skewY(13deg);
  /*text-shadow: 0px -1px 2px white, -1px 2px 0px #1C3B5A;*/
}

#neat-display h1 span:nth-child(even) {
  background: #24537f;
  color: #5CA1C0;
  z-index:2;
  margin-left:-21px;
  -webkit-transform: skewY(-7deg);
  -ms-transform: skewY(-7deg);
  -moz-transform: skewY(-7deg);
  /*text-shadow: -1px -1px 2px #5CA1C0, -1px 1px 0px black;*/
}
/*---------------------------- end logo ---------------------------*/

