.words{
  font-size:40px;
  text-align:center;
  padding:0px;
  margin:5px auto 10px;
  color:rgba(58, 83, 128, 0.5);
  text-shadow: 0px 1px 5px white,0px 0px 0px black;
  font-family:'Orbitron';
}

#word2{
  color: #24537f;
  font-size:30px;
  font-family:'Orbitron';
}

.welcome{
  background:white;
  padding:5px 5px 5px 5px;
  margin:10px 0px 10px 0px;
}

#wel-con{
  width:580px;
  height:auto;
  float:left;
  margin-left:10px;
  padding:5px 5px 5px 5px;
  border-radius:10px 0px 0px 0px;
  border-bottom:10px rgba(58, 83, 128, 0.7) solid;
}

#wel-con p{
  padding:0px;
  margin:5px;
  font-size:20px;
  color:#24537f;
  font-family:'Open Sans';
}

#name{
  color: #5CA1C0;
  font-size:30px;
  font-family:'Orbitron';
}

#side-feed{
  text-align:center;
  width:270px;
  float:right;
  margin-right:10px;
  border-bottom:10px rgba(58, 83, 128, 0.7) solid;
}

#side2{
  margin-top:20px;
  width:270px;
  float:right;
}

#blog-space{
  float:left;
  width:590px;
  background:white;
  padding:5px 0px 0px 0px;
  margin:0px 10px 10px 10px;
  border-bottom:10px rgba(58, 83, 128, 0.7) solid;
}

#mini-blog{
  text-align:center;
  float:left;
  width:590px;
  //background: -webkit-gradient(linear, left top, left bottom, from(white), to(#5CA1C0));
  background-color:white;
  border-bottom:10px #24537f solid;
  margin:0px 10px 10px 10px;
}

#mini-blog h3{
  font-family:'Open Sans';
  font-size:35px;
  text-decoration:none;
  margin:30px 20px;
}

#mini-blog a{
  text-decoration:none;
  color:#24537f;
}

#mini-blog a:hover{
  text-shadow:0px 1px 1px black,0px 2px 6px #24537f;
  color:#5CA1C0;
}

.date-wrapper-container {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: absolute;
}

.wrapper-container {
  background-color:#24537f;
  color:#5CA1C0;
  font-weight:bold;
  text-align: center;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg); 
  position: relative;
  padding: 11px 21px ;
  left: -46px;
  top: 16px;
  width: 125px;
}

//----------I did it all for the footer ----------------
#footer{
  text-align:center;
  float:left;
  width:580px;
  border-bottom:10px rgba(58, 83, 128, 0.7) solid;
  margin:0px 10px 10px 10px;
  padding:5px 5px 5px 5px;
  background:white;
}

#footer ul{
  padding-left:10px;
}

#footer ul a{
  text-decoration:none;
}

#footer ul li{
  padding:0px;
  display:block;
  display:inline;
  margin-right:10px;
}

#footer ul li.facebook{
  color:white;
  font-weight:bold;
  font-size:40px;
  padding:0px 10px 0px 25px;
  background-color:#24537F;
  border-radius:10px;
}

#footer ul li.twitter{
  color:white;
  font-weight:bold;
  font-size:40px;
  padding: 0px 25px 0px 10px;
  background-color:#5CA1C0;
  border-radius:10px;
}

#footer ul li.me{
  color: #24537F;
  font-size:15px;
  padding-bottom:20px;
  font-family:'Orbitron';
}

#footer ul li.seed{
  color:white;
  font-style:italic;
  font-size:40px;
  padding: 5px 11px 9px 1px;
  background-color:#95BE49;
  border-radius:50px 50px 58px 57px/45px 16px 55px 25px;
}