<!DOCTYPE html>
<html>
<head>
	<title> Geek Architect </title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
  <div id='main-container'>
  <div id='neat-display'>
    <h1>
       <span>GEEK</span>
       <span>Architect</span>
     </h1>
   </div><!-- end neat-display -->

  </div>
</body>
</html>
